includes:
    - ../../larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - ../../../app
    excludePaths:
        - '../../../.phpstorm.meta.php (?)'
        - '../../../_ide_helper.php (?)'
        - '../../../server.php (?)'
    ignoreErrors:
        - identifier: missingType.iterableValue
    checkUninitializedProperties: true

rules:
    - JumpTwentyFour\LaravelCodingStandards\Laravel\PHPStan\RequestValidationRule

