includes:
    - ../../nunomaduro/larastan/extension.neon

parameters:
    level: 8
    paths:
        - ../../../app
    excludePaths:
        - '.phpstorm.meta.php'
        - '_ide_helper.php'
        - 'server.php'
    checkMissingIterableValueType: false

rules:
    - JumpTwentyFour\LaravelCodingStandards\Laravel\PHPStan\RequestValidationRule
    - JumpTwentyFour\LaravelCodingStandards\Laravel\PHPStan\MigrationsUpIfExistsRule

